<header>
		<ul class="nav">
			<% if logged_in? %>
			<li><a href="/">Home</a></li>
			<li id="logout"><form action="/sessions" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Log out">
			</form><li>
			<% else %>
			<li><a href="/sessions/new">Login</a><li>
			<li><a href="/">Home</a></li>
			<li><a href="/users/new">Register</a></li>
			<% end %>
		</ul>
</header>
