<img src="https://avatars2.githubusercontent.com/u/16406269?v=3&s=400" alt="nick_face">

<form action="/login" method="post">
  <input type="submit" value="Logout">
  <input type="hidden" name="_method" value="delete">
</form>
