<img src='flash_daddy_logo.jpeg' alt='Flash Daddy Logo' />
<br>
<% if session[:user_id] %>
	<a href="/users/<%= session[:user_id] %>">My Profile</a>
<% else %>
	<a href="/login">Login Here</a>
<% end %>
<br>
<br>

<h3>Quizzes</h3>
<% Deck.all.each do |deck| %>
	<li><a href="/decks/<%= deck.id %>/cards/1"><%= deck.name %></a></li>
<% end %>

