<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>FLASH daddy</title>
</head>
<body>
  <header>
    <%if session[:user_id] %>
    <h1 style="color: blue;"><a href="/">Quiz Central</a></h1>  
    <%else%>
    <a href="/users/<%=session[:user_id]%>">Home</a>
    <%end%>
    <nav></nav>
  </header>

  <%= yield %>
</body>
</html>


